html {
  background: url(https://images.unsplash.com/photo-1529279363962-3480726a0a7e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2700&q=80) no-repeat center center fixed;
  background-size: cover; }

body {
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  padding: 18vh 1rem;
  text-align: center; }

a {
  color: rgba(255, 255, 255, 0.7); }
  a:focus, 
  a:hover {color: rgba(15, 234, 220, 0.8); }

.middleman-logo {
  margin-bottom: 1rem;
  width: 10rem; }
